<div class="author">
    <h1 class="author__heading">Hi, I am Rasheed.</h1>
    <p class="author__body">Web developer/Fullstack and Data Science/Machoine Learning enthusiat.</p>
  </div>
  
  <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528">
  
  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
  
    <ul class="article-ul">
      <li>
        <a href="#">
            <span>Post Titile</span>
            <span class="articale-list_date">Date</span>
        </a>
      </li>
    </ul>
  
  
    <a href="#" class="pagination">&lt; View Older Posts</a>
   
  </section>